*{
    margin: 0;
    padding: 0;
    background-color: #2650a5;
    font-family: 'Lato', 'sans-serif';
    box-sizing: border-box;
}


#navbar{
    margin: 0 auto;
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

#logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
#logo-container img{
    width: 70px;
}

#nav-items{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-weight: 300;
   list-style: none;
   cursor: pointer;
}

#main-header{
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: relative;
}



#main-header .left .big-text{
    font-size: 70px;
    color: white;
    font-weight: 900    ;
}

#main-header .left #overview{
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 15px;
}

#main-header .left #overview .overview-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-header .left #overview .overview-items h4{
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

#main-header .left #overview .overview-items p{
    font-weight: 300;
}
.gradient-text{
    color: #ff00f2;
}

.buttons{
    display:  flex;
}

.btn{
    padding: 10px 20px;
    margin: 10px;
    transform: skewX(-20deg);
    border: 2px solid rgb(3, 63, 69);
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
}

.btn1{
   background: #2d1e6b;
   background: linear-gradient(45deg, #7d63f1 6%, #2c2c94 28%, #f805d0 97%);
}

.band{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff40;
    box-shadow:0 80px 32px 0 rgba(31, 38, 135, 0.87) ;
    backdrop-filter: blur(4px);
    /* border: 1px solid #ffffff40; */
    font-size: 20px;
    font-weight: 500;
    
    transform:rotate(-3deg)
}
.band p{
    background-color: ffffff40;
    padding: 0 5px;
    
}


.choose-section{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choose-section-title{
    font-size: 40px;
    text-align: center;
    font-weight: 900;
}

.section-description{
    text-align: center;
    width: 500px;
    font-size: 18px;
    font-weight: 300;
    color: black;
}

.image-carousel{
    display: flex;
    justify-content: space-between;
}

.image-carousel img{
    width: 300px;
    height: 200px;
    margin: 20px;
}


.discover-section{
    width: 70%;
    margin: 100px auto;

}

.discover-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    border: 1px solid #ffffff40;
    border-radius: 7px;
    background:transparent;
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.87);
}

.discover-card img{
    margin-top: -30px;
    width: 50%;
    align-self: self-start;
}

.discover-card-details .big-text{
      font-size: 50px;
      font-weight: 900;
}

.discover-card-details-btn{
    width: fit-content;
    border: 1px solid gray;
    padding: 10px 20px;
    transform: skewX(-20deg);
}

.discover-card-details .section-description{
    text-align: left;
    padding: 20px;
    font-weight: 300;
}


.demo-card-section{
    width: 70%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.demo-cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

}

.demo-card{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px 10px;
    border-radius: 7px;
    border: 1px solid #ffffff40;
    background: transparent;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.8);
    backdrop-filter: blur(4px);
}

.demo-card img{
    width: 100%;
    border:1px solid white;
    border-radius: 5px;
}

.demo-prof-details img{
    width: 40px;
    border-radius: 50%;
}

.demo-card h5{
    margin: 0;
    align-self: flex-start;
    font-size: 15px;
}

.demo-card .demo-prof-details{
    display: flex;
    gap: 7px;
    align-self: self-start;
}

.demo-game-btn{
    cursor: pointer;
    padding:10px 0;
    width: 90%;
    text-align: center;
    transform: skewX(-15deg);
    border: 1px solid #ffffff40;
    background: linear-gradient(45deg, #7d63f1 6%, #2c2c94 28%, #f805d0 97%);
}

.footer-container{
    position: relative;
    padding: 20px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.footer-container .brands{
    background: transparent;
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    align-items: center;
}
.wrapper{
    position: absolute;
    height: 100%;
    width: 108vw;
    opacity: 0.3;
    background: linear-gradient(45deg, #7d63f1 6%, #2c2c94 28%, #f805d0 97%);

}
.footer-container .brands img{
    height: 25px;
    display: flex;
    justify-content: center;
}

.about-and-links{
  display:flex;
  justify-content:space-around;
  align-items: center;
}
.upper-logo{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.upper-help, .upper-company{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}


.logo-with-name{
    width: 100px;
    align-self: flex-start;
    margin-left: 15%;
}

.copyright {
    align-self: flex-start;
    margin-left: 15%;
}

